{% block footer %}
    <!-- footer content -->
    <footer>
        <div class="pull-right">
            LAVANDA - SALUD CAPILAR
        </div>
        <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->
{% endblock %}